exclude: ^(.*/)?(CHANGELOG\.md)$
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.1.0
    hooks:
      - id: rumdl
        args: [--config, .rumdl.toml, --fix]
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.1
    hooks:
      - id: typos
        args: [--write-changes, --force-exclude, --config, .typos.toml]
  - repo: https://github.com/crate-ci/committed
    rev: v1.1.10
    hooks:
      - id: committed
        args: [--config, .committed.toml, --commit-file]
